.chart-less {
    display: inline-block;
    height: 500px;
    width: 782px;
    border: .2rem solid #ececec;
    padding: 1%;
    margin-top: 2%;
    margin-right: 1%;
}

.pie {
    position: relative;
}

.r-boos-spinner {
    display: inline-block;
    position: absolute;
    top: 5%;
    right: 2%;
}